@charset "utf-8";
#wrapper{width: 630px;margin: 0 auto;border: 1px solid #000;margin-top: 10px;}
#header{background:navy;}
h1{font-weight: bold;color:black;padding: 10px;text-align: center;}
#container{position:relative;width: 100%;background:#ccc;}
#menu{position:absolute;width: 150px;padding: 20px;}
#menu>li{padding: 5px 0;}
#menu>li>a{color:black;font-weight: bold;}
#menu>li>a:hover{border-bottom: 1px dashed #662; color:navy;}
#content{position:relative;left:130px;width: 500px;background:white;}
h2{padding: 10px 20px; font-weight: bold;background: #800;color:#ee0}
p{padding: 20px;text-align: justify;}
#footer{background:gray;}
address{font-style: normal;padding: 10px 20px;color: #000;}